.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  width: 100%;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
